
*.xcuserstate

*.plist

*.xcscheme

*.xccheckout

*.pbxproj

*.xcworkspacedata

*.xcbkptlist

*.pdf

Project 1/Proj1part1/

Project 1/Proj1part2/

Project 1/Proj1part3/

Project 1/Proj1part5/

Project 2/No2Part1/

Project 2/No2Part2/

Project 2/No2Part3/

Project 2/No2Part4/

Project 3/No3Part2/

Project 1/Proj1part4/

Project 2/No2Part5/

Project 3/No3Part1/

Project 3/No3Part3/

Project 3/No3Part4/

Project 4/No4Part1/

Project 4/No4Part2/

Project 4/No4Part3/

Project 4/No4Part4/

Project 5/No5Part1/

Project 5/No5Part2/

Project 5/No5Part3/

Project 6/No6Part1/

Project 6/No6Part2/

Project 6/No6Part3/

Project 6/No6Part4/

Project 5/No5Part4/
